@page
@model WebApplication2.Pages.Index


<div class="container px-4 md:px-0 max-w-6xl mx-auto">

    <div class="mx-0 sm:mx-6">

        <div class="bg-gray-200 w-full text-xl md:text-2xl text-gray-800 leading-normal rounded-t">

            <!--Posts Container-->
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3 mt-3 mb-3">
                @foreach (var item in Model.Figures)
                {
                    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow ">
                        <a asp-page="Post">
                            <img class="rounded-t-lg" src="@item.ImageUrl" alt=""/>
                        </a>
                        <div class="p-5">
                            <a asp-page="Post">
                                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">@item.Name @item.Surname</h5>
                                <p class="mb-3 text-base font-normal text-gray-700">@item.DateOfBirth.Year - @item.DateOfDeath.Year г.</p>
                            </a>
                            <p class="mb-3 text-base font-normal text-gray-700">@item.ShortDescription</p>
                            <a asp-page="Post" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">
                                Подробнее
                                <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>

    </div>
</div>